*{
    margin: 0;

}

body{
    font-family: 'Roboto', sans-serif;
}

/*NAVBAR RELATED*/
.nav-bar{
    width: 100%;
    height: 50px;
    background-color: black;

}

.nav-container{
    color:white;
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;

}

.logo-tin{
    flex: 1;
}

.logo{
    font-size: 30px;
}

.menu-tin{
    flex: 6;


}

.menu-list{
    display: flex;

}

.profile-tin{
    flex: 2;
}
    

.side-bar{
    color: white;
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}