*{
    font-family: 'Roboto', sans-serif;
    
}

.content{
    color: white;
    background-color: #151515;
    min-height: calc(100vh - 50px);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    overflow: hidden;

}

.wrapper{
    display: flex;
    flex-direction: column;
    top: 10px;
    position: relative;
    width: 100%;
    max-width: 420px;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0);

}

.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #333;

}

.wrapper form .input-box{
    height: 45px;
    margin: 18px 0;
    width: 100%;

}

.joined{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

    .joined .input-box{
        width: 50%;
    }


form .input-box input{
    height: 100%;
    outline: none;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    border: 1.5px solid #C7BEBE
}

.input-box input:focus, .input-box input:valid{
    border-color: #4070f4;

}

form .policy{
    display: flex;
    align-items: center;

}

form .policy h1{
    font-size: 14px;
    color: #707070;
    margin-left: 10px;

}

.policy{
    display: flex;
    align-items: center;
    justify-content: center;

}

form h3{
    color: #151515;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

form .text{
    text-align: center;

}

form .input-box.button {
    border: black;

}

form .input-box.button:hover{
    border-color: black;
    cursor: pointer;

    
}

/*NAVBAR RELATED*/
.nav-bar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    top:0px;

}

.nav-container{
    color:white;
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    font-family: 'Sen', sans-serif;


}

.logo-tin{
    flex: 1;
}

.logo{
    font-size: 30px;
    font-family: 'Sen', sans-serif;
}

.menu-tin{
    flex: 6;


}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-item{
    margin: 0 30px 0 0;


}

.menu-item a{
    text-decoration: none;
    color: white;

}

.profile-tin{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-text{
    margin: 0 20;

}

.profile-icon{
    height: 32px;
    width: 32px;
    
}

/*SIDEBAR NAVIGATION*/
.side-bar{
    color: white;
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    justify-content: space-around;
    position: absolute;
    left:0;
    top:10px;
}

.side-bar-item{
    
}

    .side-bar-item img{
        height: 32px;
        width: 32px;
    }

    #search-input{
        position: absolute;
        top: -812%;
        left: 650px;
        transform: translateY(-50%);
        display: none;
        border: 1px solid #808080;
        padding: 5px;
        border-radius: 4px;
        color: #FFF;
        width: 200 px;
        z-index: 1000;
        background-color: rgba(30, 30, 30, 0.8);
        animation: slideIn 0.3s ease-out;
    
    }