<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to AcmePlex</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="content/loginStyles.css">
</head>
<body>
<div class="nav-bar">
    <div class="nav-container">
        <div class="logo-tin">
            <h1 class="logo">AcmePlex</h1>
        </div>
        <div class="menu-tin">
            <ul class="menu-list">
                <li class="menu-item">Upcoming</li>
                <li class="menu-item"><a href= "/#more-movies">Movies</li>
                <li class="menu-item"><a href="/register">Register</a></li>
            </ul>
        </div>
        <div class="profile-tin">
            <img class="profile-icon" src="content/images/logos/pfp-icon.png">
            <div class="profile-text">
                <p>Profile</p>
            </div>
        </div>
    </div>
</div>
<div class="side-bar">
    <div class="side-bar-item">
        <a href="/">
            <img src="content/images/logos/home-icon.png" alt="Home Icon">
        </a>
    </div>
    <div class="side-bar-item">
        <img src="content/images/logos/search-icon.png" id = "search-icon" alt = "Search">
        <input type = "text" id = "search-input" placeholder= "Search a Movie" name = "query">
        

    </div>
    <div class="side-bar-item">
        <img src="content/images/logos/search-theater.png">
    </div>
</div>
<div class="wrapper">
    <h2>Login to AcmePlex</h2>
    <form action="/login" method="post">
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="policy">
            <input type="checkbox" name="remember" value="true">
            <h3>Remember me</h3>
        </div>
        <div class="input-box button">
            <input type="submit" value="Login">
        </div>
        <div class="text">
            <h3>Don't have an account? <a href="/register">Register Now</a></h3>
        </div>
    </form>
</div>

</body>
</html>