<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Options</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="content/paymentStyle.css">
</head>
<body>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="column">
                    <h3 class="title">Billing Address</h3>
                    <div class="input-box">
                        <span>Full Name:</span>
                        <input type="text">

                    </div>
                    <div class="input-box">
                        <span>Email:</span>
                        <input type="text">

                    </div>

                    <div class="input-box">
                        <span>Address:</span>
                        <input type="text">

                    </div>

                    <div class="input-box">
                        <span>City:</span>
                        <input type="text">

                    </div>

                    <div class="flex">
                        <div class="input-box">
                            <span>Province:</span>
                            <input type="text">
    
                        </div>
                        <div class="input-box">
                            <span>Zip Code:</span>
                            <input type="text">
    
                        </div>

                    </div>


                </div>
                <div class="column">
                    <h3 class="title">Payment Details</h3>
                    <div class="input-box">
                        <span>Cards Accepted:</span>
                        <img src="content/images/logos/mastercard-logo-png-transparent.png">
                        <img src="content/images/logos/visa.png">

                    </div>
                    <div class="input-box">
                        <span>Name on Card:</span>
                        <input type="text">

                    </div>

                    <div class="input-box">
                        <span>Card Number:</span>
                        <input type="text">

                    </div>

                    <div class="input-box">
                        <span>CVV:</span>
                        <input type="text">

                    </div>

                    <div class="flex">
                        <div class="input-box">
                            <span>Exp. Month:</span>
                            <input type="text">
    
                        </div>
                        <div class="input-box">
                            <span>Exp. Year:</span>
                            <input type="text">
    
                        </div>

                    </div>


                </div>



            </div>
            <div class="bottom-form">
                <div class="buttons">
                <button type="submit" class="btn">
                    Submit
                </button>
                <button type="button" class="btn cancel">
                    Cancel Payment
                </button>    
                </div>
            </div>
        </form>

    </div>
    <script src="scripts/paymentScripts.js"></script>
</body>
</html>