<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as a Acmember</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="content/registerStyles.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-container">
            <div class="logo-tin">
                <h1 class="logo">AcmePlex</h1>

            </div>
            <div class="menu-tin">
                <ul class="menu-list">
                    <li class="menu-item">Upcoming</li>
                    <li class="menu-item">Movies</li>
                    <li class="menu-item"><a href="/register">Register</a></li>

                </ul>

            </div>
            <div class="profile-tin">
                <img class="profile-icon" src="content/images/logos/pfp-icon.png">
                <div class="profile-text">
                    <p>Profile</p>
                </div>
            </div>

        </div>
    </div>
    <div class="side-bar">
        <div class="side-bar-item">
            <a href="/">
                <img src="content/images/logos/home-icon.png" alt="Home Icon">
            </a>
 
        </div>
        <div class="side-bar-item">
            <img src="content/images/logos/search-icon.png">
 
        </div>
        <div class="side-bar-item">
            <img src="content/images/logos/search-theater.png">
 
        </div>

    </div>
    <div class="wrapper">
        <h2>Sign Up for Acmembership!</h2>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Username" required>

            </div>
            <div class="input-box">
                <input type="text" placeholder="First Name" required>

            </div>
            <div class="input-box">
                <input type="text" placeholder="Last Name" required>

            </div>
            <div class="input-box">
                <input type="text" placeholder="Email" required>

            </div>
            <div class="input-box">
                <input type="text" placeholder="Create password" required>

            </div>
            <div class="input-box">
                <input type="text" placeholder="Confirm password" required>

            </div>
            <div class="policy">
                <input type="checkbox" name="" value="">
                <h3>I have read and understood all terms and conditions.</h3>

            </div>
            <div class="input-box button">
                <input type="submit" value="Sign Up Now">
            </div>
            <div class="text">
                <h3>Already signed up? <a href="login">Login Now</a></h3> 

            </div>
            


        </form>

    </div>

</body>
</html>